[submodule "plugins/ezlogin"]
	path = plugins/ezlogin
	url = https://github.com/cr-crme/ezlogin.git
[submodule "plugins/enhanced_containers"]
	path = plugins/enhanced_containers
	url = https://github.com/cr-crme/enhanced_containers.git
[submodule "plugins/blue_maestro_ble"]
	path = plugins/blue_maestro_ble
	url = https://github.com/cr-crme/blue_maestro_ble.git
